#search-bar-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#search-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f9f9f9;
  border-bottom: 1px solid grey;
  width: 100%;
  padding-top: 2%;
  z-index: 1;
  transition: min-height 1.5s ease-in;
  transition-delay: 0.6s;
  transition-property: min-height
}

.search-bar-wrapper-zoom-in {
  min-height: 800px;
}

.search-bar-wrapper-zoom-out {
  min-height: 0;
}

#search-bar {
  height: 100%;
  display: flex;
  align-items: stretch;
  justify-content: center;
  border: 1px solid black;
  border-radius: 30px;
  background-color: white;
  transition: min-width 1.5s ease-in, min-height 1.5s ease-in, font 1.5s ease-in, margin-top 1.5s ease-in-out;
  transition-delay: 0.6s;
  transition-property: min-width, min-height, font, margin-top;
  max-height: 50px;
  z-index: 10;
}

.search-bar-zoom-out {
  min-width: 45%;
  font-size: 16px;
  margin-top: 3%;
}

.search-bar-zoom-in {
  min-width: 55%;
  height: 100%;
  min-height: 60px;
  font-size: 18px;
  margin-top: 30%;
}

#search-bar-input-text {
  width: 100%;
  font-family: 'Roboto', 'Arial';
  font-size: 1em;
  border: none;
  background-color: transparent;
  outline: none;
  padding: 1% 2%;
}

#search-bar-input-submit {
  /* border-radius: 0px 10px 10px 0; */
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

#search-bar-language-section {
  display: flex;
  margin: 2% 0;
  max-height: 20px;
  height: 100%;
  z-index: 10;
}

#search-bar-language-section .item-subtitle {
  cursor: pointer;
  margin: 1% 1%;
  font-size: 0.9em;
  filter: grayscale(80%) brightness(80%);
}


#search-bar-language-section .selected {
  filter: none;
}

#logo {
  width: 8%;
}

#empty-message {
  color: grey;
}

#empty-message-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

#welcome-header {
  display: flex; 
  align-items: center;
  justify-content: center;
  transition:  max-height  1.5s ease-in, opacity 0.3s linear;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}

.welcome-header-display {
  opacity: 1;
}

.welcome-header-hidden {
  opacity: 0;
}

#welcome-header-logo-wrapper {
  position: relative;
  display: flex;
  border-right: 2px solid black;
  padding: 2% 0;
  margin-bottom: 3%;
  overflow: hidden;
} 

#welcome-header-logo {
  position: relative;
  height: 300px;
  left: 175px;
}

#welcome-header-text {
  margin-left: 5%;
}

#logo-wrapper {
  display: flex;
  position: absolute;
  justify-content: center;
  top: 0;
  width: 100%;
  margin: 1% 0;
}